// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary {
    color: #fff;
    background-color: #fff; 
    border-color: #007bff; 
}

.btn-primary a{
    color: #fff;
    background-color: #fff; 
    border-color: #007bff; 
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #005cbf;
}        


.navbar-brand {
	font-size: 2rem;
	font-weight: 700;
	
}	

.navbar-inverse .navbar-brand {
    color: #F79E02;
}

.navbar-nav {
  flex-direction: row;
}  